/* This is an example of how to import a partial scss file*/
@import '_variables';
* {
  box-sizing: border-box;
  margin: 0%;
}

html {
  background: url("../images/plane-background.jpg") no-repeat center center fixed;
  background-size: cover;
}


body {
  margin: 30px;
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  font-size: 35px;
  line-height: 48px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .h1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    h1 {
      margin-left: 40px;
    }

    .h1-user-icon {
      margin-right: 40px;
      justify-self: end;
      width: 80px;
      height: 80px;
    }
  }

  nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    margin: 40px 0px 40px 40px;

    .nav-button {
      width: 175px;
      height: 41px;
      background-color: #BED2D5;
      font-family: $primary-font;
      font-size: 20px;
    }
  }
  
}
