/* This is an example of how to import a partial scss file*/
@import 'normalize';
@import '_variables';
* {
  box-sizing: border-box;
  margin: 0%;
}

html {
  background: url("../images/plane-background.jpg") no-repeat center center fixed;
  background-size: cover;
}


body {
  color: #000000;
  font-family: $primary-font;
  height: 100%;
  margin: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;

  .h1-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    
    h1 {
      font-size: 40px;
      margin-left: 30px;
    }

    .h1-user-icon {
      justify-self: end;
      margin-right: 30px;
      width: 80px;
      height: 80px;
    }
  }

  nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    margin: 40px 0px 40px 40px;

    .nav-button {
      background-color: $grey-color;
      font-family: $primary-font;
      font-size: 20px;
      height: 41px;
      width: 175px;
    }
  }

  .add-new-trip-container {
    margin: auto;
    background: #BED2D5;
    height: 450px;
    opacity: 0.78;
    width: 650px;
    line-height: 30px;

    .new-trip-form {

      label {
        display: block;
      }
    
    }
  }
  
}
