/* This is an example of how to import a partial scss file*/
@import 'normalize';
@import '_variables';
@import '_mixins';

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: 'Signika Negative';
}

html {
  background: url("../images/plane-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  color: $black;
  height: 100%;
  padding: 20px;
  width: 100%;

  .h1-container {
    @include grid(1fr 1fr 1fr, space-between);
    align-items: center;
    width: 100%;
    
    h1 {
      font-size: 40px;
      margin-left: 30px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .h1-welcome-msg {
      font-size: 25px;
      margin: auto;
    }

    .h1-user-icon {
      justify-self: end;
      margin-right: 30px;
      width: 80px;
      height: 80px;
    }
  }

  .button-style {
    background-color: #b2dded;
    border: 1px solid $black;
    border-radius: 7px;

    &:hover {
      background-color: #36bff7;
      box-shadow: 0px 15px 20px rgba(62, 104, 87, 0.4);
      color: #fff;
      cursor: pointer;
    }

    &:disabled {
      pointer-events: none;
    }
  }

  nav {
    @include grid(repeat(6, 1fr), space-between);
    justify-items: center;
    margin: 40px 0px 40px;

    .nav-button {
      font-size: 20px;
      height: 41px;
      width: 175px;
    }
  }

  .main-container {
    height: 475px;
    line-height: 30px;
    margin: auto;
    opacity: 0.90;
    overflow-y: scroll;
    padding: 15px;
    width: 650px;

    h2 {
      font-size: 25px;
      margin-bottom: 15px;
    }

    .new-trip-form {
      label {
        display: block;
        font-size: 18px;
      }

      .estimated-cost {
        font-size: 20px;
        font-weight: $bold-font;
        padding-top: 10px;
      }

      .post-error-msg {
        color: red;
        font-weight: $bold-font;
        height: 15px;
      }
    }

    .trip-container {
      padding: 15px;
      margin: 10px;

      .destination-image {
        height: 200px;
        width: 300px;
      }
    }

    .submit-trip-request-button {
      font-size: 18px;
      height: 30px;
      margin-top: 10px;
      width: 175px;
    }
  }

  .login-container {
    @include flexbox(column, center, center);
    font-size: 20px;
    width: 100%;

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .h1-user-icon {
      height: 80px;
      justify-self: center;
      margin-bottom: 10px;
      width: 80px;
    }

    .login-form {
      display: grid;
      grid-gap: 12px;
      justify-items: center;
      line-height: 20px;

      label {
        @include flexbox(column, center, center);
      }

      input {
        border-radius: 7px;
        border: 1px solid $black;
      }

      .login-error-msg {
        color: red;
        font-weight: $bold-font;
        height: 15px;
      }

      .login-button {
        font-weight: $bold-font;
        height: 30px;
        letter-spacing: 1.5px;
        margin-top: 10px;
        width: 140px;
      }
    }
  }

  .hidden {
    display: none;
  }

  p {
    font-size: 18px;
  }

  .blue-background {
    background: #75c1e1;
    border-radius: 7px;
  }
}